<footer>
    <div>
        <div class="non-tw-container columns-4">
            <address class="flex flex-col gap-6">
                <h2 class="uppercase font-medium text-14">Магазины</h2>
                <p class="text-14"></p>
                <p></p>
            </address>
            <nav class="pb-6">
                <h2 class="uppercase font-medium text-14">Контакты</h2>
        
            </nav>
            <div>
                <h2 class="uppercase font-medium text-14">Покупателям</h2>

            </div>
            <div>
                <form action="" method="POST">
                    <h2 class="uppercase font-medium text-14">Подписаться на нашу рассылку</h2>
                    <input type="text" class="py-2.5 my-4" placeholder="E-mail">
                    <div>
                        <input type="checkbox" name="policy" id="">
                        <label for="policy" class="text-grey text-12">Да, я хочу получать новости и рекламу сайта ditanails.ru по email, и я прочитал, понял и принимаю раздел <span class="underline underline-offset-4">политика конфиденциальности</span> этого сайта.</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-black py-8">
        <div class="flex justify-between items-center non-tw-container">
            <a href="/policy" class="text-grey underline underline-offset-4 text-14">Политика конфиденциальности</a>
            <nav class="flex justify-between items-center gap-7">
                <a href="/vk.com"><img src="/images/footer/telegram.svg" class="p-2 bg-grey rounded-full" alt="telegram-link"></a>
                <a href="/vk.com"><img src="/images/footer/vk.pgn" alt="vk-link"></a>
            </nav> 
            <p class="text-grey text-14">Сайт разработан: <a href="/"><span class="text-underline underline-offset-4">Slepuhina Natalia</span></a></p>
        </div>
    </div>
</footer>