<header class="flex justify-between py-7 non-tw-container">
    <nav class="flex space-between gap-8">
        <img src="/images/logo.png" class="mr-10" alt="logo">
        <ul class="flex justify-between gap-16 items-center">
        <li><a class="text-14 uppercase p-35 font-bold" href="/catalogue">Каталог</a></li>
        <li><a class="text-14 uppercase p-35 font-bold" href="/partners">Бренды</a></li>
        <li><a class="text-14 uppercase p-35 font-bold" href="/palette">Палитра</a></li>
        <li><a class="text-14 uppercase p-35 font-bold" href="/partners">Магазины</a></li>
        <li><a class="text-14 uppercase p-35 font-bold" href="/discounts">Акции</a></li>
        </ul>
    </nav>
    <nav class="flex justify-between gap-8">
        <a href="/search" class="py-2.5"><img src="/images/icons/looking-glass.svg" alt="search"></a>
        <a href="/profile" class="py-2.5"><img src="/images/icons/profile.svg" alt="profile-page"></a>
        <a href="/profile/favourites" class="py-2.5"><img src="/images/icons/heart.svg" alt="favourites"></a>
        <a href="/profile/order" class="py-2.5"><img src="/images/icons/shopping-bag.svg" alt="my-purchases"></a>
    </nav>
</header>